<footer class="gh-foot appear" style="--delay: 3">
    <div class="gh-foot-inner">
        {{#if @site.members_enabled}}
            <p class="gh-foot-subscribe">
                <a href="#/portal/signup">{{t "Subscribe"}}</a>
            </p>
        {{/if}}

        <p class="gh-foot-line">
            You reached the end of the <button class="theme-toggle" aria-label="Toggle light/dark mode"><span class="theme-word">dark</span></button> page.<br>It’s now safe to turn off your computer.
        </p>

        <p class="gh-foot-meta">
            &copy; {{date format="YYYY"}} {{@site.title}}, made with ♥︎ and <a href="https://github.com/tryghost/Ghost">open source technologies</a> in California.</p>
    </div>
</footer>
