{{!< default}}

<div class="gh-error">
    <div class="gh-error-code">{{statusCode}}</div>
    <p class="gh-error-message">{{message}}</p>
    <a class="gh-error-link" href="{{@site.url}}">&larr; Back to {{@site.title}}</a>
</div>
