{{!< default}}

<div class="gh-feed">
    {{#if @site.description}}
        <h2 class="gh-feed-title">Paul Goldschmidt's Blog — {{@site.description}}</h2>
    {{/if}}

    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</div>

{{> "pagination"}}
